
<h1>pagina de inicio</h1>

<form id="searchform" action="{% url 'busqueda' %}" accept-charset="utf-8">
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Buscar">
    <button class="searchbutton" type="submit" t><i class="fa fa-search" ></i>Ir</button>
    </form>



<p> Nombre: <a href={% url 'episodio' id="1" %}> {{ nombre1 }}</a> fecha de publicacion: {{ fecha1 }}       codigo del episodio: {{ codigo1 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="2" %}> {{ nombre2 }}</a> fecha de publicacion: {{ fecha2 }}       codigo del episodio: {{ codigo2 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="3" %}> {{ nombre3 }}</a> fecha de publicacion: {{ fecha3 }}       codigo del episodio: {{ codigo3 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="4" %}> {{ nombre4 }}</a> fecha de publicacion: {{ fecha4 }}       codigo del episodio: {{ codigo4 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="5" %}> {{ nombre5 }}</a> fecha de publicacion: {{ fecha5 }}       codigo del episodio: {{ codigo5 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="6" %}> {{ nombre6 }}</a> fecha de publicacion: {{ fecha6 }}       codigo del episodio: {{ codigo6 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="7" %}> {{ nombre7 }}</a> fecha de publicacion: {{ fecha7 }}       codigo del episodio: {{ codigo7 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="8" %}> {{ nombre8 }}</a> fecha de publicacion: {{ fecha8 }}       codigo del episodio: {{ codigo8 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="9" %}> {{ nombre9 }}</a> fecha de publicacion: {{ fecha9 }}       codigo del episodio: {{ codigo9 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="10" %}> {{ nombre10 }}</a> fecha de publicacion: {{ fecha10 }}       codigo del episodio: {{ codigo10 }}  </p><br><br>

<p> Nombre: <a href={% url 'episodio' id="11" %}> {{ nombre11 }}</a> fecha de publicacion: {{ fecha11 }}       codigo del episodio: {{ codigo11 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="12" %}> {{ nombre12 }}</a> fecha de publicacion: {{ fecha12 }}       codigo del episodio: {{ codigo12 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="13" %}> {{ nombre13 }}</a> fecha de publicacion: {{ fecha13 }}       codigo del episodio: {{ codigo13 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="14" %}> {{ nombre14 }}</a> fecha de publicacion: {{ fecha14 }}       codigo del episodio: {{ codigo14 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="15" %}> {{ nombre15 }}</a> fecha de publicacion: {{ fecha15 }}       codigo del episodio: {{ codigo15 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="16" %}> {{ nombre16 }}</a> fecha de publicacion: {{ fecha16 }}       codigo del episodio: {{ codigo16 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="17" %}> {{ nombre17 }}</a> fecha de publicacion: {{ fecha17 }}       codigo del episodio: {{ codigo17 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="18" %}> {{ nombre18 }}</a> fecha de publicacion: {{ fecha18 }}       codigo del episodio: {{ codigo18 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="19" %}> {{ nombre19 }}</a> fecha de publicacion: {{ fecha19 }}       codigo del episodio: {{ codigo19 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="20" %}> {{ nombre20 }}</a> fecha de publicacion: {{ fecha20 }}       codigo del episodio: {{ codigo20 }}  </p><br><br>

<p> Nombre: <a href={% url 'episodio' id="21" %}> {{ nombre21 }}</a> fecha de publicacion: {{ fecha21 }}       codigo del episodio: {{ codigo21 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="22" %}> {{ nombre22 }}</a> fecha de publicacion: {{ fecha22 }}       codigo del episodio: {{ codigo22 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="23" %}> {{ nombre23 }}</a> fecha de publicacion: {{ fecha23 }}       codigo del episodio: {{ codigo23 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="24" %}> {{ nombre24 }}</a> fecha de publicacion: {{ fecha24 }}       codigo del episodio: {{ codigo24 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="25" %}> {{ nombre25 }}</a> fecha de publicacion: {{ fecha25 }}       codigo del episodio: {{ codigo25 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="26" %}> {{ nombre26 }}</a> fecha de publicacion: {{ fecha26 }}       codigo del episodio: {{ codigo26 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="27" %}> {{ nombre27 }}</a> fecha de publicacion: {{ fecha27 }}       codigo del episodio: {{ codigo27 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="28" %}> {{ nombre28 }}</a> fecha de publicacion: {{ fecha28 }}       codigo del episodio: {{ codigo28 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="29" %}> {{ nombre29 }}</a> fecha de publicacion: {{ fecha29 }}       codigo del episodio: {{ codigo29 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="30" %}> {{ nombre30 }}</a> fecha de publicacion: {{ fecha30 }}       codigo del episodio: {{ codigo30 }}  </p><br><br>
<p> Nombre: <a href={% url 'episodio' id="31" %}> {{ nombre31 }}</a> fecha de publicacion: {{ fecha31 }}       codigo del episodio: {{ codigo31 }}  </p><br><br>




def home(request):



lista_episodios=[]
    lista_tuplas=[]

    respuesta1=requests.get('https://rickandmortyapi.com/api/episode/')
    respuesta1_en_json=respuesta1.json()
    lista1_episodios=respuesta1_en_json['results']
    for elemento in lista1_episodios:
        lista_episodios.append(elemento)
        tupla=(elemento["id"],elemento["name"],elemento["air_date"],elemento["episode"])
        lista_tuplas.append(tupla)
    while respuesta1_en_json["info"]["next"]!="":
        respuesta1 = requests.get('https://rickandmortyapi.com/api/episode/?page=2')
        respuesta1_en_json = respuesta1.json()
        lista1_episodios = respuesta1_en_json['results']
        for elemento in lista1_episodios:
            lista_episodios.append(elemento)
            tupla = (elemento["id"],elemento["name"], elemento["air_date"], elemento["episode"])
            lista_tuplas.append(tupla)



    return render(request, 'home.html', {"lista_tuplas":lista_tuplas,
        "nombre1":lista_episodios[0]["name"], "fecha1":lista_episodios[0]["air_date"], "codigo1":lista_episodios[0]["episode"],

        "nombre2": lista_episodios[1]["name"], "fecha2": lista_episodios[1]["air_date"],
        "codigo2": lista_episodios[1]["episode"],

        "nombre3": lista_episodios[2]["name"], "fecha3": lista_episodios[2]["air_date"],
        "codigo3": lista_episodios[2]["episode"],

        "nombre4": lista_episodios[3]["name"], "fecha4": lista_episodios[3]["air_date"],
        "codigo4": lista_episodios[3]["episode"],

        "nombre5": lista_episodios[4]["name"], "fecha5": lista_episodios[4]["air_date"],
        "codigo5": lista_episodios[4]["episode"],

        "nombre6": lista_episodios[5]["name"], "fecha6": lista_episodios[5]["air_date"],
        "codigo6": lista_episodios[5]["episode"],

        "nombre7": lista_episodios[6]["name"], "fecha7": lista_episodios[6]["air_date"],
        "codigo7": lista_episodios[6]["episode"],

        "nombre8": lista_episodios[7]["name"], "fecha8": lista_episodios[7]["air_date"],
        "codigo8": lista_episodios[7]["episode"],

        "nombre9": lista_episodios[8]["name"], "fecha9": lista_episodios[8]["air_date"],
        "codigo9": lista_episodios[8]["episode"],

        "nombre10": lista_episodios[9]["name"], "fecha10": lista_episodios[9]["air_date"],
        "codigo10": lista_episodios[9]["episode"],

        "nombre11": lista_episodios[10]["name"], "fecha11": lista_episodios[10]["air_date"],
        "codigo11": lista_episodios[10]["episode"],

        "nombre12": lista_episodios[11]["name"], "fecha12": lista_episodios[11]["air_date"],
        "codigo12": lista_episodios[11]["episode"],

        "nombre13": lista_episodios[12]["name"], "fecha13": lista_episodios[12]["air_date"],
        "codigo13": lista_episodios[12]["episode"],

        "nombre14": lista_episodios[13]["name"], "fecha14": lista_episodios[13]["air_date"],
        "codigo14": lista_episodios[13]["episode"],

        "nombre15": lista_episodios[14]["name"], "fecha15": lista_episodios[14]["air_date"],
        "codigo15": lista_episodios[14]["episode"],

        "nombre16": lista_episodios[15]["name"], "fecha16": lista_episodios[15]["air_date"],
        "codigo16": lista_episodios[15]["episode"],

        "nombre17": lista_episodios[16]["name"], "fecha17": lista_episodios[16]["air_date"],
        "codigo17": lista_episodios[16]["episode"],

        "nombre18": lista_episodios[17]["name"], "fecha18": lista_episodios[17]["air_date"],
        "codigo18": lista_episodios[17]["episode"],

        "nombre19": lista_episodios[18]["name"], "fecha19": lista_episodios[18]["air_date"],
        "codigo19": lista_episodios[18]["episode"],

        "nombre20": lista_episodios[19]["name"], "fecha20": lista_episodios[19]["air_date"],
        "codigo20": lista_episodios[19]["episode"],

        "nombre21": lista_episodios[20]["name"], "fecha21": lista_episodios[20]["air_date"],
        "codigo21": lista_episodios[20]["episode"],

        "nombre22": lista_episodios[21]["name"], "fecha22": lista_episodios[21]["air_date"],
        "codigo22": lista_episodios[21]["episode"],

        "nombre23": lista_episodios[22]["name"], "fecha23": lista_episodios[22]["air_date"],
        "codigo23": lista_episodios[22]["episode"],

        "nombre24": lista_episodios[23]["name"], "fecha24": lista_episodios[23]["air_date"],
        "codigo24": lista_episodios[23]["episode"],

        "nombre25": lista_episodios[24]["name"], "fecha25": lista_episodios[24]["air_date"],
        "codigo25": lista_episodios[24]["episode"],

        "nombre26": lista_episodios[25]["name"], "fecha26": lista_episodios[25]["air_date"],
        "codigo26": lista_episodios[25]["episode"],

        "nombre27": lista_episodios[26]["name"], "fecha27": lista_episodios[26]["air_date"],
        "codigo27": lista_episodios[26]["episode"],

        "nombre28": lista_episodios[27]["name"], "fecha28": lista_episodios[27]["air_date"],
        "codigo28": lista_episodios[27]["episode"],

        "nombre29": lista_episodios[28]["name"], "fecha29": lista_episodios[28]["air_date"],
        "codigo29": lista_episodios[28]["episode"],

        "nombre30": lista_episodios[29]["name"], "fecha30": lista_episodios[29]["air_date"],
        "codigo30": lista_episodios[29]["episode"],

        "nombre31": lista_episodios[30]["name"], "fecha31": lista_episodios[30]["air_date"],
        "codigo31": lista_episodios[30]["episode"]